

.steps {

    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 15px 25px 48px 25px;
    gap: 25px;
    background: white;

    &__direction {

        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 100%;

    }

    &__cards {

        display: flex;
        align-items: center;
        text-decoration: none;
        background-color: $grey-1;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        color: black;
        gap: 10px;
        padding: 25px;
        width: calc(100% - 50px);
        flex: 1;

    }

    &__cards .circle {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        right: 40px;
        background-color: $primaire;
        color: $grey-3;
        position: relative;
        @include roboto(500, 14px, 17px);
        
    }

    &__cards > .fontawesome--grey {

        color: $grey-4;

    }

    &__cards > .fontawesome--purple {

        color: $primaire;

    }

}

.steps h2 {

    display: flex;
    align-self: flex-start;

}


