body {
  margin: 0px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

* {
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  margin-top: 14px;
  margin-bottom: 0px;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0%;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 0%;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  margin: 0%;
}

h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin: 0%;
}

h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
  margin: 0%;
}

.prix {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  align-self: end;
}

h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 0%;
}

.footer__title {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.footer__links {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
}

.restaurants__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.restaurants__txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

.restaurantspages__title {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
}

.notifications__txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

@keyframes main-fadein {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes loader-bar-2-2 {
  0% {
    padding-right: 100%;
  }
  80% {
    padding-right: 0%;
  }
  100% {
    padding-right: 0%;
    display: none;
  }
}
@keyframes loader-bar-2-1 {
  0% {
    width: 0%;
    opacity: 100%;
  }
  80% {
    opacity: 100%;
    width: 50%;
  }
  100% {
    width: 50%;
    opacity: 0%;
    display: none;
  }
}
@keyframes loader-bar-0 {
  0% {
    transform: rotate(359deg);
    opacity: 100%;
  }
  80% {
    opacity: 100%;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
    opacity: 0%;
    display: none;
  }
}
@keyframes loader-bar-1 {
  0% {
    opacity: 100%;
  }
  80% {
    opacity: 100%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
    display: none;
  }
}
@keyframes cards-fadein {
  0% {
    transform: translateX(-100px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  height: 63px;
}

.retour {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 25px;
  gap: 15px;
  background-color: rgb(78, 78, 78);
  color: #ffffff;
}

.ul__nobullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ul__nobullets li {
  padding: 3.5px 0px;
}

.left {
  position: relative;
  left: 12px;
}

.loader__part0 {
  display: block;
  top: calc(45% - 130px);
  left: calc(50% - 130px);
  position: fixed;
}
.loader__part0 img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: none;
  max-width: none;
  animation: loader-bar-0 2000ms 500ms forwards;
}
.loader__part1 {
  top: calc(45% - 36px);
  left: calc(50% - 290px);
  overflow: hidden;
  animation: loader-bar-1 2000ms 500ms forwards;
  display: none;
  position: fixed;
}
.loader__part1 img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: none;
  max-width: none;
}
.loader__part2 {
  position: absolute;
  top: calc(45% - 36px);
  left: calc(50% - 290px);
  overflow: hidden;
  animation: loader-bar-2-1 2000ms 500ms both;
  display: none;
  position: fixed;
}
.loader__part2 img {
  animation: loader-bar-2 2000ms 500ms;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: none;
  max-width: none;
}

.main-container {
  animation: main-fadein 1000ms 2500ms both;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  background-color: #F7F7F7;
  gap: 10px;
}
.banner .button {
  width: 218px;
}
.banner__gps {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 17px;
  color: #353535;
  background-color: #EAEAEA;
}

.button {
  margin: 20px;
  padding: 13px;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: linear-gradient(352deg, #9356DC -11%, #FF79DA 124%);
  border: 0px;
  height: 50px;
}
.button:hover {
  transition-duration: 250ms;
  opacity: 85%;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.25);
}

select {
  width: 100%;
  padding: 7px 0px;
  border: none;
  border-radius: 4px;
  background-color: #EAEAEA;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 0%;
}

.steps {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 15px 25px 48px 25px;
  gap: 25px;
  background: white;
}
.steps__direction {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.steps__cards {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  color: black;
  gap: 10px;
  padding: 25px;
  width: calc(100% - 50px);
  flex: 1;
}
.steps__cards .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  right: 40px;
  background-color: #9356DC;
  color: #F6F6F6;
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.steps__cards .purple-on-hover {
  color: #7E7E7E;
}
.steps__cards:hover .purple-on-hover {
  color: #9356DC;
}

.steps h2 {
  display: flex;
  align-self: flex-start;
}

.restaurants {
  background-color: #F7F7F7;
  padding: 15px 25px 35px 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.restaurants .h2 {
  align-self: flex-start;
  margin-left: 0%;
}
.restaurants__direction {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 4/3;
  max-width: 490px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  border-radius: 15px;
  gap: 7px;
}
.restaurants__card .card__txt {
  margin-left: 13px;
  position: relative;
  bottom: 12px;
}
.restaurants__card a {
  overflow: hidden;
  margin-bottom: 23px;
}
.restaurants__card a img {
  aspect-ratio: 1/1;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__card .notifications {
  position: absolute;
  top: 13px;
  right: 12px;
  background-color: #99E2D0;
  color: #008766;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width: 80px;
  padding: 6px;
  display: flex;
  justify-content: center;
}
.restaurants__card .checked {
  bottom: 0px;
  right: 0px;
}
.restaurants__card .unchecked {
  bottom: 0px;
  right: 0px;
}

.check-container {
  width: 22px;
  height: 22px;
  z-index: 4;
  position: absolute;
  bottom: 33px;
  right: 25px;
}

.restaurants input[type=checkbox]:checked ~ .checked {
  transform: scale(1);
}

.fa-heart {
  font-size: 22px;
}

.checked {
  z-index: 3;
  transform: scale(0);
  background: linear-gradient(352deg, #9356DC -11%, #FF79DA 124%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s;
  position: absolute;
}

.unchecked {
  z-index: 2;
  color: black;
  position: absolute;
}

input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 30px 13px 0px 13px;
  background-color: #F7F7F7;
  position: relative;
  width: 100%;
  max-width: 1029px;
  box-sizing: border-box;
  top: -30px;
  border-radius: 40px 40px 0px 0px;
  margin-bottom: -30px;
}
.menu .button {
  width: 186px;
  align-self: center;
  margin: 28px 20px 40px 20px;
}
.menu__title {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.menu__title > .ligne {
  width: 40px;
  border: 1.5px solid #99E2D0;
}
.menu__cards {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  padding: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  animation: cards-fadein 1000ms both;
}
.menu__cards .txt-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 75%;
}
.menu__cards .txt-container h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__cards .txt-container h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__cards .price-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-right: -74px;
  width: 120px;
  transition: all 0.5s ease-in-out;
}

.restaurantspages__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  max-height: 383px;
  overflow: hidden;
}
.restaurantspages__banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.roundbox {
  background-color: #F7F7F7;
  position: relative;
  top: -30px;
  left: -13px;
  width: calc(100% + 26px);
  height: 30px;
}

.main__restaurantspages {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.sliding-checkbox {
  background-color: #99E2D0;
  color: white;
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -20px;
}

.menu input[type=checkbox]:checked ~ .price-container {
  margin-right: -14px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  width: 300px;
}
.title-container .check-container {
  position: static;
}
.title-container input[type=checkbox]:checked ~ .checked {
  transform: scale(1);
}

.menu .menu__cards:nth-child(1n) {
  animation-delay: 2600ms;
}

.menu .menu__cards:nth-child(2n) {
  animation-delay: 2700ms;
}

.menu .menu__cards:nth-child(3n) {
  animation-delay: 2800ms;
}

.menu .menu__cards:nth-child(4n) {
  animation-delay: 2900ms;
}

.menu .menu__cards:nth-child(5n) {
  animation-delay: 3000ms;
}

.menu .menu__cards:nth-child(6n) {
  animation-delay: 3100ms;
}

.menu .menu__cards:nth-child(7n) {
  animation-delay: 3200ms;
}

.menu .menu__cards:nth-child(8n) {
  animation-delay: 3300ms;
}

.menu .menu__cards:nth-child(9n) {
  animation-delay: 3400ms;
}

.menu .menu__cards:nth-child(10n) {
  animation-delay: 3500ms;
}

.menu .menu__cards:nth-child(11n) {
  animation-delay: 3600ms;
}

.menu .menu__cards:nth-child(12n) {
  animation-delay: 3700ms;
}

.menu .menu__cards:nth-child(13n) {
  animation-delay: 3800ms;
}

.menu .menu__cards:nth-child(14n) {
  animation-delay: 3900ms;
}

.menu .menu__cards:nth-child(15n) {
  animation-delay: 4000ms;
}

.menu .menu__cards:nth-child(16n) {
  animation-delay: 4100ms;
}

.menu .menu__cards:nth-child(17n) {
  animation-delay: 4200ms;
}

.menu .menu__cards:nth-child(18n) {
  animation-delay: 4300ms;
}

.menu .menu__cards:nth-child(19n) {
  animation-delay: 4400ms;
}

.menu .menu__cards:nth-child(20n) {
  animation-delay: 4500ms;
}

.menu .menu__cards:nth-child(21n) {
  animation-delay: 4600ms;
}

.menu .menu__cards:nth-child(22n) {
  animation-delay: 4700ms;
}

.menu .menu__cards:nth-child(23n) {
  animation-delay: 4800ms;
}

.menu .menu__cards:nth-child(24n) {
  animation-delay: 4900ms;
}

.menu .menu__cards:nth-child(25n) {
  animation-delay: 5000ms;
}

.menu .menu__cards:nth-child(26n) {
  animation-delay: 5100ms;
}

.menu .menu__cards:nth-child(27n) {
  animation-delay: 5200ms;
}

.menu .menu__cards:nth-child(28n) {
  animation-delay: 5300ms;
}

.menu .menu__cards:nth-child(29n) {
  animation-delay: 5400ms;
}

.menu .menu__cards:nth-child(30n) {
  animation-delay: 5500ms;
}

.menu .menu__cards:nth-child(31n) {
  animation-delay: 5600ms;
}

.menu .menu__cards:nth-child(32n) {
  animation-delay: 5700ms;
}

.menu .menu__cards:nth-child(33n) {
  animation-delay: 5800ms;
}

.menu .menu__cards:nth-child(34n) {
  animation-delay: 5900ms;
}

.menu .menu__cards:nth-child(35n) {
  animation-delay: 6000ms;
}

.menu .menu__cards:nth-child(36n) {
  animation-delay: 6100ms;
}

.menu .menu__cards:nth-child(37n) {
  animation-delay: 6200ms;
}

.menu .menu__cards:nth-child(38n) {
  animation-delay: 6300ms;
}

.menu .menu__cards:nth-child(39n) {
  animation-delay: 6400ms;
}

.menu .menu__cards:nth-child(40n) {
  animation-delay: 6500ms;
}

.menu .menu__cards:nth-child(41n) {
  animation-delay: 6600ms;
}

.menu .menu__cards:nth-child(42n) {
  animation-delay: 6700ms;
}

.menu .menu__cards:nth-child(43n) {
  animation-delay: 6800ms;
}

.menu .menu__cards:nth-child(44n) {
  animation-delay: 6900ms;
}

.menu .menu__cards:nth-child(45n) {
  animation-delay: 7000ms;
}

.menu .menu__cards:nth-child(46n) {
  animation-delay: 7100ms;
}

.menu .menu__cards:nth-child(47n) {
  animation-delay: 7200ms;
}

.menu .menu__cards:nth-child(48n) {
  animation-delay: 7300ms;
}

.menu .menu__cards:nth-child(49n) {
  animation-delay: 7400ms;
}

.menu .menu__cards:nth-child(50n) {
  animation-delay: 7500ms;
}

.menu .menu__cards:nth-child(51n) {
  animation-delay: 7600ms;
}

.menu .menu__cards:nth-child(52n) {
  animation-delay: 7700ms;
}

.menu .menu__cards:nth-child(53n) {
  animation-delay: 7800ms;
}

.menu .menu__cards:nth-child(54n) {
  animation-delay: 7900ms;
}

.menu .menu__cards:nth-child(55n) {
  animation-delay: 8000ms;
}

.menu .menu__cards:nth-child(56n) {
  animation-delay: 8100ms;
}

.menu .menu__cards:nth-child(57n) {
  animation-delay: 8200ms;
}

.menu .menu__cards:nth-child(58n) {
  animation-delay: 8300ms;
}

.menu .menu__cards:nth-child(59n) {
  animation-delay: 8400ms;
}

.menu .menu__cards:nth-child(60n) {
  animation-delay: 8500ms;
}

.menu .menu__cards:nth-child(61n) {
  animation-delay: 8600ms;
}

.menu .menu__cards:nth-child(62n) {
  animation-delay: 8700ms;
}

.menu .menu__cards:nth-child(63n) {
  animation-delay: 8800ms;
}

.menu .menu__cards:nth-child(64n) {
  animation-delay: 8900ms;
}

.menu .menu__cards:nth-child(65n) {
  animation-delay: 9000ms;
}

.menu .menu__cards:nth-child(66n) {
  animation-delay: 9100ms;
}

.menu .menu__cards:nth-child(67n) {
  animation-delay: 9200ms;
}

.menu .menu__cards:nth-child(68n) {
  animation-delay: 9300ms;
}

.menu .menu__cards:nth-child(69n) {
  animation-delay: 9400ms;
}

.menu .menu__cards:nth-child(70n) {
  animation-delay: 9500ms;
}

.menu .menu__cards:nth-child(71n) {
  animation-delay: 9600ms;
}

.menu .menu__cards:nth-child(72n) {
  animation-delay: 9700ms;
}

.menu .menu__cards:nth-child(73n) {
  animation-delay: 9800ms;
}

.menu .menu__cards:nth-child(74n) {
  animation-delay: 9900ms;
}

.menu .menu__cards:nth-child(75n) {
  animation-delay: 10000ms;
}

.menu .menu__cards:nth-child(76n) {
  animation-delay: 10100ms;
}

.menu .menu__cards:nth-child(77n) {
  animation-delay: 10200ms;
}

.menu .menu__cards:nth-child(78n) {
  animation-delay: 10300ms;
}

.menu .menu__cards:nth-child(79n) {
  animation-delay: 10400ms;
}

.menu .menu__cards:nth-child(80n) {
  animation-delay: 10500ms;
}

.menu .menu__cards:nth-child(81n) {
  animation-delay: 10600ms;
}

.menu .menu__cards:nth-child(82n) {
  animation-delay: 10700ms;
}

.menu .menu__cards:nth-child(83n) {
  animation-delay: 10800ms;
}

.menu .menu__cards:nth-child(84n) {
  animation-delay: 10900ms;
}

.menu .menu__cards:nth-child(85n) {
  animation-delay: 11000ms;
}

.menu .menu__cards:nth-child(86n) {
  animation-delay: 11100ms;
}

.menu .menu__cards:nth-child(87n) {
  animation-delay: 11200ms;
}

.menu .menu__cards:nth-child(88n) {
  animation-delay: 11300ms;
}

.menu .menu__cards:nth-child(89n) {
  animation-delay: 11400ms;
}

.menu .menu__cards:nth-child(90n) {
  animation-delay: 11500ms;
}

.menu .menu__cards:nth-child(91n) {
  animation-delay: 11600ms;
}

.menu .menu__cards:nth-child(92n) {
  animation-delay: 11700ms;
}

.menu .menu__cards:nth-child(93n) {
  animation-delay: 11800ms;
}

.menu .menu__cards:nth-child(94n) {
  animation-delay: 11900ms;
}

.menu .menu__cards:nth-child(95n) {
  animation-delay: 12000ms;
}

.menu .menu__cards:nth-child(96n) {
  animation-delay: 12100ms;
}

.menu .menu__cards:nth-child(97n) {
  animation-delay: 12200ms;
}

.menu .menu__cards:nth-child(98n) {
  animation-delay: 12300ms;
}

.menu .menu__cards:nth-child(99n) {
  animation-delay: 12400ms;
}

.menu .menu__cards:nth-child(100n) {
  animation-delay: 12500ms;
}

@media screen and (min-width: 1200px) {
  .loader__part0 {
    display: none;
  }
  .loader__part1 {
    display: block;
  }
  .loader__part2 {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .restaurantspages__title {
    align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    flex-direction: row-reverse;
    gap: 45px;
  }
  .ul__nobullets {
    display: flex;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__cards:hover .price-container {
    margin-right: -14px;
  }
}
@media screen and (min-width: 1200px) {
  .restaurants__direction {
    flex-direction: row;
  }
  .restaurants {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
  }
  .check-container:hover .checked {
    transform: scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .steps__direction {
    flex-direction: row;
  }
  .steps {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
  }
}/*# sourceMappingURL=styles.css.map */